.dc-button {
   display: inline-block;
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   font-weight: 400;
   line-height: 1.5;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   border: none;
}

.dc-button-contained-primary {
   color: white;
   background-color: #1976d2;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-contained-primary:hover {
   color: white;
   background-color: #1565c0;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
      0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-outlined-primary {
   color: #1976d2;
   background-color: transparent;
   border: 1px solid #1976d2;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-outlined-primary:hover {
   color: #1565c0;
   background-color: #f0f7fd;
   border: 1px solid #1565c0;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
   0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-text-primary {
   color: #1976d2;
   background-color: transparent;
}

.dc-button-text-primary:hover {
   color: #1565c0;
   background-color: #f0f7fd;
}

.dc-button-contained-secondary {
   color: white;
   background-color: #9c27b0;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-contained-secondary:hover {
   color: white;
   background-color: #7b1fa2;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
      0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-outlined-secondary {
   color: #9c27b0;
   background-color: transparent;
   border: 1px solid #9c27b0;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-outlined-secondary:hover {
   color: #7b1fa2;
   background-color: #faf0fc;
   border: 1px solid #7b1fa2;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
   0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-text-secondary {
   color: #9c27b0;
   background-color: transparent;
}

.dc-button-text-secondary:hover {
   color: #7b1fa2;
   background-color: #faf0fc;
}

.dc-button-contained-success {
   color: white;
   background-color: #2e7d32;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-contained-success:hover {
   color: white;
   background-color: #1b5e20;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
      0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-outlined-success { 
   color: #2e7d32;
   background-color: transparent;
   border: 1px solid #2e7d32;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-outlined-success:hover {
   color: #1b5e20;
   background-color: #f0faf1;
   border: 1px solid #1b5e20;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
   0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-text-success {
   color: #2e7d32;
   background-color: transparent;
}

.dc-button-text-success:hover {
   color: #1b5e20;
   background-color: #f0faf1;
}

.dc-button-contained-info {
   color: white;
   background-color: #0288d1;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-contained-info:hover {
   color: white;
   background-color: #01579b;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
      0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-outlined-info {
   color: #0288d1;
   background-color: transparent;
   border: 1px solid #0288d1;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-outlined-info:hover {
   color: #01579b;
   background-color: #edf9ff;
   border: 1px solid #01579b;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
   0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-text-info {
   color: #0288d1;
   background-color: transparent;
}

.dc-button-text-info:hover {
   color: #01579b;
   background-color: #edf9ff;
}

.dc-button-contained-warning {
   color: white;
   background-color: #ed6c02;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-contained-warning:hover {
   color: white;
   background-color: #e65100;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
      0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-outlined-warning {
   color: #ed6c02;
   background-color: transparent;
   border: 1px solid #ed6c02;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-outlined-warning:hover {
   color: #e65100;
   background-color: #fff6ef;
   border: 1px solid #e65100;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
   0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-text-warning {
   color: #ed6c02;
   background-color: transparent;
}

.dc-button-text-warning:hover {
   color: #e65100;
   background-color: #fff6ef;
}

.dc-button-contained-error {
   color: white;
   background-color: #d32f2f;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-contained-error:hover {
   color: white;
   background-color: #c62828;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
      0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-outlined-error {
   color: #d32f2f;
   background-color: transparent;
   border: 1px solid #d32f2f;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dc-button-outlined-error:hover {
   color: #c62828;
   background-color: #fcf3f3;
   border: 1px solid #c62828;
   box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.3),
   0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.dc-button-text-error {
   color: #d32f2f;
   background-color: transparent;
}

.dc-button-text-error:hover {
   color: #c62828;
   background-color: #fcf3f3;
}

.dc-button-small {
   padding: 0.25rem 0.625rem;
   font-size: 0.813rem;
}

.dc-button-medium {
   padding: 0.375rem 1rem;
   font-size: 0.875rem;
}

.dc-button-large {
   padding: 0.5rem 1.375rem;
   font-size: 0.938rem;
}

.dc-button-contained {
}
