.content {
    background-color: #f2f4f7;
    flex-grow: 1;
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.status-section {
    flex-grow: 1;
}

.status-title-wrapper {
    text-align: center;
}

.status-title {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

.status-body {
    display: flex;
    justify-content: center;
}

.status-card {
    background: #fcfcfd;
    box-shadow: 0px 0.5px 2px rgba(16, 24, 40, 0.3);
    border-radius: 8px;
    width: 279px;
    height: 141px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 16px;
}

.card-header,
.card-body,
.card-footer {
    width: 100%;
}

.card-title {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #1d2939;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.created-date {
    width: 53px;
    height: 21px;
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #98a2b3;
}

.ellipse {
    width: 4px;
    height: 4px;

    background: #c4c4c4;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.created-by {
    width: 136px;
    height: 21px;

    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    letter-spacing: -0.02em;

    /* Gray / 400 */

    color: #98a2b3;
}

.status-badge {
    padding: 6px 12px;
    gap: 12px;
    width: 60px;
    height: 28px;
    background: #f2f4f7;
    border-radius: 6px;

    width: 36px;
    height: 16px;
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #475467;
}
