body {
  margin: 0px;
}

#root {
  min-height: 100vh;
  display: flex;
}

.basic-title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
}
